@charset "utf-8";
/* CSS Document */


       body{
          font-family: Arial, Verdana, Tahoma, Sans-Serif;
          color: #333333;
          font-size: 18px;
          margin: auto;
          background-color:white;
		   }
		 
		 
				 
       main{
       width: 1000px;
       background-color: white;
       margin: 0px auto;
       padding: 20px;
		   
}

.logo{
	
	
	width: 217px;
	height: 120px;
	float: left;
	
	
	
}

main header nav ul{
	
	width: 400px;
	height: 120px;
	line-height: 120px;
	float: left;
	margin-top: 40px;
	margin-left: 100px;
	
}

main header nav ul li{
        list-style-type: none;
        width: 100px;
        height: 40px;
	    line-height: 40px;
        float: left;
        text-align: center;
	    margin-right: 30px;
}
main header nav ul li a:link, main header nav ul li a:visited{
	       width: 100px;
	       height: 40px;
	       line-height: 40px;
	       display: block;
	       text-decoration: none;
	       text-transform: uppercase;
           color: #FF8206;
}
main header nav ul li a:hover, main header nav ul li a:active{
	background-color: #FF8206;
    color: #333;
}

main header .redes{
	
	
	
	width: 110px;
	float: right;
	height: 50px;
	margin-top: 35px;
	
	
}

   #banner{
	   float: none;
	   clear: both;
       width: 100%;
       height: 200px;
       background: url("../imagens/banner.jpg") no-repeat;
       margin-top: 10px;

   
}

main .img-principal{
	
	
	max-width: 1000px;
		
}


     p{
        line-height: 20px;
        text-align: center;
        
    }

      h1{
        font-size: 24px;
        color: #003366;
        text-align: center;
        

      }

      h2{
         font-size: 14px;
         padding: 5px;
         background-color: #E3E3E3;
         color: #4C4C4C;
      }

form{
	
	
	
	
}            
       footer p{
        clear: both;
	    float: none;
	    text-align: center;
	    background-color: #333;
	    color: #fff;
	    padding: 4px;
    } 

